**/**.env
*/*node_modules
*/*dist
*/*build
*/*state.json

deployd/ecosystem.config.cjs
foundations/adguard/
services/home-assistant/home-assistant/
services/mysql/mysql/
services/postgres/postgres/