services:
  myapp:
    build: ../../node_runner
    container_name: mal_challenge_checker
    restart: unless-stopped
    networks:
      - public_proxy
    environment:
      - REPO_URL=git@github.com:thetornadotitan/MAL-Challenge-Checker.git
      - BRANCH=main
      - PORT=3000
      - SSH_PRIVATE_KEY_PATH=/run/secrets/deploy_key
    secrets:
      - deploy_key
    volumes:
      - mal_challenge_checker:/app/src
    labels:
      - traefik.enable=true
      - traefik.group=public
      - traefik.http.routers.mal_challenge_checker.rule=Host(`mal.isaachisey.com`)
      - traefik.http.routers.mal_challenge_checker.entrypoints=web
      - traefik.http.services.mal_challenge_checker.loadbalancer.server.port=3000

volumes:
  mal_challenge_checker:

secrets:
  deploy_key:
    file: ~/secrets/deploy_key

networks:
  public_proxy:
    external: true
    name: public_proxy
